@keyframes arrowAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(20px);
    }
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ffffff;
    animation: arrowAnimation 1s infinite;
  }